<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Minor Project</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
      integrity="sha256-9mbkOfVho3ZPXfM7W8sV2SndrGDuh7wuyLjtsWeTI1Q="
      crossorigin="anonymous"
    />

  
    <style>
        @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
        :root {
        --tablet: 768px;
        --smallMonitor: 992px;
        --largeMonitor: 1200px;
        --font-family: 'Open Sans', sans-serif;
        }

        body {
        font-family: var(--font-family) !important;
        }

        body ::-webkit-scrollbar {
        width: 6px;
        }

        .ui.vertical.menu.sidebar-menu {
        margin-top: 40px !important;
        max-height: calc(100% - 40px) !important;
        height: calc(100% - 40px) !important;
        }

        .ui.vertical.menu.sidebar-menu .item i.icon {
        float: left;
        margin: 0em 0.5em 0em 0em;
        }

        .main-content {
        margin-top: 40px;
        }

        @media (min-width: 768px) {
        .ui.vertical.menu.sidebar-menu {
            visibility: visible;
            -webkit-transform: translate3d(0, 0, 0);
                    transform: translate3d(0, 0, 0);
            width: 15rem !important;
        }
        .main-content {
            margin-left: 1.5rem;
        }
        .sidebar-menu-toggler {
            display: none !important;
        }
        }
        canvas { 
            height: 400px!important;
        }
    </style>
  </head>

  <body style="background-color: #f4f5f8;">
    <!-- sidebar -->
    <!-- <div class="ui sidebar inverted vertical menu sidebar-menu" id="sidebar">
      <div class="item">
        <div class="header">General</div>
        <div class="menu">
          <a class="item">
            <div>
              <i class="icon tachometer alternate"></i>
              Dashboard
            </div>
          </a>
        </div>
      </div>
      <div class="item">
        <div class="header">
          Administration
        </div>
        <div class="menu">
          <a class="item">
            <div><i class="cogs icon"></i>Settings</div>
          </a>
          <a class="item">
            <div><i class="users icon"></i>Team</div>
          </a>
        </div>
      </div>

      <a href="#" class="item">
        <div>
          <i class="icon chart line"></i>
          Charts
        </div>
      </a>

      <a class="item">
        <div>
          <i class="icon lightbulb"></i>
          Apps
        </div>
      </a>
      <div class="item">
        <div class="header">Other</div>
        <div class="menu">
          <a href="#" class="item">
            <div>
              <i class="icon envelope"></i>
              Messages
            </div>
          </a>

          <a href="#" class="item">
            <div>
              <i class="icon calendar alternate"></i>
              Calendar
            </div>
          </a>
        </div>
      </div>

      <div class="item">
        <form action="#">
          <div class="ui mini action input">
            <input type="text" placeholder="Search..." />
            <button class="ui mini icon button">
              <i class=" search icon"></i>
            </button>
          </div>
        </form>
      </div>
      <div class="ui segment inverted">
        <div class="ui tiny olive inverted progress">
          <div class="bar" style="width: 54%"></div>
          <div class="label">Monthly Bandwidth</div>
        </div>

        <div class="ui tiny teal inverted progress">
          <div class="bar" style="width:78%"></div>
          <div class="label">Disk Usage</div>
        </div>
      </div>
    </div> -->

    <!-- sidebar -->
    <!-- top nav -->

    <nav class="ui top fixed inverted menu">
      <div class="left menu">
        <a href="#" class="sidebar-menu-toggler item" data-target="#sidebar">
          <i class="sidebar icon"></i>
        </a>
        <a href="#" class="header item">
          Coding problem recommendation system
        </a>
      </div>

      <div class="right menu">
        <a href="https://github.com/nikhraj/MinorProject" class="item">
          <i class="github icon"></i>
          Github repo
        </a>
       
      </div>
    </nav>

    <!-- top nav -->

    <div class="pusher">
      <div class="main-content">
        <div class="ui grid stackable padded">
          <div
            class="four wide computer eight wide tablet sixteen wide mobile column"
          >
            <div class="ui fluid card">
              <div class="content">
                <div class="ui right floated header teal">
                  <i class="icon file code"></i>
                </div>
                <div class="header">
                  <div class="ui teal header">
                    3958
                  </div>
                </div>
                <!-- <div class="meta">
                  problems
                </div> -->
                <div class="description">
                  Total problems solved by user
                </div>
              </div>
              <div class="extra content">
                <div class="ui two buttons">
                  <div class="ui teal button">No of Problems</div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="four wide computer eight wide tablet sixteen wide mobile column"
          >
            <div class="ui fluid card">
              <div class="content">
                <div class="ui right floated header blue">
                  <i class="icon list ul"></i>
                </div>
                <div class="header">
                  <div class="ui header blue">42</div>
                </div>
                <!-- <div class="meta">
                  Contests
                </div> -->
                <div class="description">
                  Total contests given by user
                </div>
              </div>
              <div class="extra content">
                <div class="ui two buttons">
                  <div class="ui blue button">No of Contests</div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="four wide computer eight wide tablet sixteen wide mobile column"
          >
            <div class="ui fluid card">
              <div class="content">
                <div class="ui right floated header green">
                  <i class="icon trophy"></i>
                </div>
                <div class="header">
                  <div class="ui green header">500</div>
                </div>
                <!-- <div class="meta">
                  Rank
                </div> -->
                <div class="description">
                    Best rank of the user
                </div>
              </div>
              <div class="extra content">
                <div class="ui two buttons">
                  <div class="ui green button">Best Rank</div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="four wide computer eight wide tablet sixteen wide mobile column"
          >
            <div class="ui fluid card">
              <div class="content">
                <div class="ui right floated header red">
                    <i class="angle double down icon"></i>
                </div>
                <div class="header">
                  <div class="ui red header">9805</div>
                </div>
                <!-- <div class="meta">
                  Rank
                </div> -->
                <div class="description">
                  Worst rank of the user
                </div>
              </div>
              <div class="extra content">
                <div class="ui two buttons">
                  <div class="ui red button">Worst Rank</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ui grid stackable padded">
          <div class="column">
            <table class="ui celled striped table">
              <thead>
                <tr>
                  <th>
                    Contest Name
                  </th>
                  <th>
                    Rank
                  </th>
                  <th>
                    Date
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <i class="folder icon"></i> Codeforces Round 626 (Div 2)
                  </td>
                  <td class="negative"><i class="angle double down red icon"></i>1058</td>
                  <td>12/08/2021</td>
                </tr>
                <tr>
                  <td>
                    <i class="folder icon"></i> Codeforces Round 626 (Div 2)
                  </td>
                  <td class="positive"><i class="angle double up green icon"></i>998</td>
                  <td>12/08/2021</td>
                </tr>
                <tr>
                  <td>
                    <i class="folder icon"></i> Codeforces Round 626 (Div 2)
                  </td>
                  <td>1058</td>
                  <td>12/08/2021</td>
                </tr>
                <tr>
                  <td>
                    <i class="folder icon"></i> Codeforces Round 626 (Div 2)
                  </td>
                  <td>1058</td>
                  <td>12/08/2021</td>
                </tr>
                <tr>
                  <td>
                    <i class="folder icon"></i> Codeforces Round 626 (Div 2)
                  </td>
                  <td>1058</td>
                  <td>12/08/2021</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="ui grid stackable padded">
            <div class="eight wide computer sixteen wide phone column justifed">
                
                <div class="ui tall stacked segment">
                    <a class="ui blue ribbon label">Problems based on ratings</a>
                  
                    <canvas id="chart1"></canvas>
                   
                    <div class="ui divider"></div>
                    
                </div>
            </div>
            <div class="eight wide computer sixteen wide phone column justifed">
            
                <div class="ui tall stacked segment">
                    <a class="ui blue ribbon label">Problems based on language</a>
                 
                    <canvas id="chart2"></canvas>
                    
                    <div class="ui divider"></div>
                </div><br>
            </div>
        </div>
     
        <div class="ui grid stackable padded">
          <div class="eight wide computer sixteen wide phone column justifed">
              
              <div class="ui tall stacked segment">
                  <a class="ui blue ribbon label">Problems based on index</a>
                
                  <canvas id="chart3"></canvas>
                 
                  <div class="ui divider"></div>
                  
              </div>
          </div>
          <div class="eight wide computer sixteen wide phone column justifed">
          
              <div class="ui tall stacked segment">
                  <a class="ui blue ribbon label">Problems based on category</a>
               
                  <canvas id="chart4"></canvas>
                  
                  <div class="ui divider"></div>
              </div><br>
          </div>
      </div>

      </div>
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"
      integrity="sha256-t8GepnyPmw9t+foMh3mKNvcorqNHamSKtKRxxpUEgFI="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-colorschemes"></script> -->
    <script>

            var indexs = JSON.parse("{{index_problems|escapejs}}");
            var ratings = JSON.parse("{{rating_problems|escapejs}}");
            var tags = JSON.parse("{{tags|escapejs}}");
            var langs = JSON.parse("{{langs|escapejs}}");
            var contests = JSON.parse("{{contests|escapejs}}");
            
            console.log(indexs);  
            console.log(ratings);  
            console.log(tags);
            console.log(langs);
            console.log(contests); 
            
            const ordered = Object.keys(indexs).sort().reduce(
              (obj, key) => { 
                obj[key] = indexs[key]; 
                return obj;
              }, 
              {}
            );

            var m1 = {"data":Object.values(ratings),"labels":Object.keys(ratings)};
            var m2 = {"data":Object.values(tags),"labels":Object.keys(tags)};
            var m3 = {"data":Object.values(ordered),"labels":Object.keys(ordered)};
            var m4 = {"data":Object.values(langs),"labels":Object.keys(langs)};

            var ctx1 = document.getElementById('chart1').getContext('2d');
            
            var chart1 = new Chart(ctx1, {
                type: 'bar',
                data: {
                    labels: m1.labels,
                    datasets: [{
                        data: m1.data,
                        backgroundColor: [
                            'rgba(74, 35, 90, 0.2)',
                            'rgba(255, 87, 51, 0.2)',
                            'rgba(46, 64, 83, 0.2)',
                            'rgba(46, 204, 113, 0.2)',
                            'rgba(243, 156, 18, 0.2)',
                            'rgba(64, 224, 208, 0.2)',
                            'rgba(149, 165, 166, 0.2)',
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)',
                            'rgba(133, 193, 233 , 0.3)'
                        ],
                        borderColor: [
                            'rgba(74, 35, 90, 0.8)',
                            'rgba(255, 87, 51, 1)',
                            'rgba(46, 64, 83, 0.8)',
                            'rgba(46, 204, 113, 1)',
                            'rgba(243, 156, 18, 1)',
                            'rgba(64, 224, 208, 1)',
                            'rgba(149, 165, 166, 1)',
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)',
                            'rgba(133, 193, 233 , 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    },
                    plugins:{
                    legend: { display: false }
                    }
                }
            });
            var ctx3 = document.getElementById('chart3').getContext('2d');
            var chart3 = new Chart(ctx3,{
              type:"line",
              data: {
                  labels: m3.labels,
                  datasets:[{
                    data:m3.data,
                    fill: false,
                    borderColor: 'rgb(75, 192, 192)',
                  }],
              },
              options:{
                responsive: true,
                maintainAspectRatio: false,
                plugins:{
                  legend:{display:false}
                }
              }

            });

            var ctx2 = document.getElementById('chart2').getContext('2d');
            var chart2 = new Chart(ctx2,{
              type:'doughnut',
              data: {
                labels: m4.labels,
                datasets: [{
                 
                  data: m4.data,
                  backgroundColor: [
                  'rgb(255, 99, 132)',
                    'rgb(255, 205, 86)',  
                    'rgb(54, 162, 235)',
                    
                  ],
                  hoverOffset: 4
                }]
              },
              options:{
                responsive: true,
                maintainAspectRatio: false,
              }

            });

            var ctx4 = document.getElementById('chart4').getContext('2d');
            var chart4 = new Chart(ctx4, {
                type: 'pie',
                data: {
                    labels: m2.labels,
                    datasets: [{
                        data: m2.data,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.3)',
                            'rgba(153, 102, 255, 0.3)',
                            'rgba(255, 159, 64, 0.2)',
                            'rgba(74, 35, 90, 0.2)',
                            'rgba(255, 87, 51, 0.2)',
                            'rgba(46, 64, 83, 0.3)',
                            'rgba(46, 204, 113, 0.3)',
                            'rgba(243, 156, 18, 0.3)',
                            'rgba(64, 224, 208, 0.2)',
                            'rgba(149, 165, 166, 0.2)',
                            'rgba(89,70,178, 0.2)',
                            'rgba(184,123,255, 0.2)',
                            'rgba(208,199,7, 0.2)',
                            'rgba(208,81,81, 0.3)',
                            'rgba(240,226,85, 0.3)',
                            'rgba(220,50,58, 0.2)',
                            'rgba(78,80,83, 0.2)',
                            'rgba(0,63,119, 0.2)',
                            'rgba(255,177,124, 0.2)',
                            'rgba(199,177,201, 0.2)',
                            'rgba(23, 165, 137, 0.2)',
                            'rgba(186, 74, 0, 0.2)',
                            'rgba(255,177,124, 0.2)',

                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)',
                            'rgba(74, 35, 90, 0.8)',
                            'rgba(255, 87, 51, 1)',
                            'rgba(46, 64, 83, 0.8)',
                            'rgba(46, 204, 113, 1)',
                            'rgba(243, 156, 18, 1)',
                            'rgba(64, 224, 208, 1)',
                            'rgba(149, 165, 166, 1)',
                            'rgba(89,70,178, 1)',
                            'rgba(184,123,255, 1)',
                            'rgba(208,199,7, 1)',
                            'rgba(208,81,81, 1)',
                            'rgba(240,226,85, 1)',
                            'rgba(220,50,58, 1)',
                            'rgba(78,80,83, 1)',
                            'rgba(0,63,119, 1)',
                            'rgba(255,177,124, 1)',
                            'rgba(199,177,201, 1)',
                            'rgba(23, 165, 137, 1)',
                            'rgba(186, 74, 0, 1)',
                            'rgba(255,177,124, 1)',
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    plugins: {
                    legend: {
                        position: 'right',
                    },
                  }
                }
                
            });
    </script>
  </body>
</html>