<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Minor Project</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
      integrity="sha256-9mbkOfVho3ZPXfM7W8sV2SndrGDuh7wuyLjtsWeTI1Q="
      crossorigin="anonymous"
    />
  </head>
<body style="background-color: #f1f5f8;">
<div class="ui centered grid container" style="margin-top:7%">
    <div class="nine wide column">
    <div class="ui icon warning message" id="message">
        <i class="chart line icon"></i>
        <div class="content">
            <div class="header">
            Problem recommendation System
            </div>
            <p>Please enter your codeforces handle to see stats</p>
        </div>
        </div>
    <div class="ui fluid card">
        <div class="content">
        <form class="ui form" id="cf" method="POST">
            {% csrf_token %}
        <div class="field">
            <label>Codeforces Handle</label>
            <input type="text" id="cfhandle" name="cfhandle" placeholder="CF Handle">
        </div>
        <div class="ui green message">
            <div class="header">Some Example Handles</div>
            <ul class="list">
              <li>tourist</li>
              <li>Benq</li>
            </ul>
          </div>
         <button class="ui violet primary labeled icon button" type="submit">
            <i class="paper plane icon" style="background-color: rgba(100, 31, 211, 0.089);"></i>Submit
         </button>
        </form>
        </div>
    </div>
</div>
</div>

<script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"
    integrity="sha256-t8GepnyPmw9t+foMh3mKNvcorqNHamSKtKRxxpUEgFI="
    crossorigin="anonymous"
></script>

<script>
    $('#cf').submit(function() {
        var value = $('#cfhandle').val();
        console.log(value);
        window.location.replace(value);
        return false;
    });
</script>
</body>
</html>